
services:
  db:
    build: ./db
    container_name: postgres_db
    restart: always
    env_file:
      - .env
    environment:
      POSTGRES_DB: ${DB_NAME}
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
    volumes:
      - postgres_data:/var/lib/postgresql
    ports:
      - "5432:5432"


  backend:
    build: ./backend
    container_name: django_backend
    restart: always
    command: >
      sh -c "
      python manage.py migrate &&
      python manage.py createsuperuser_if_needed &&
      python manage.py runserver 0.0.0.0:8000
      "
    volumes:
      - ./backend:/app
      - ./db/certs:/certs:ro
    ports:
      - "8000:8000"
    env_file:
      - .env
    depends_on:
      - db

  frontend:
    build: ./frontend
    command: npm start
    volumes:
      - ./frontend:/app
      - /app/node_modules
    ports:
      - "3000:3000"
    environment:
      - CHOKIDAR_USEPOLLING=true
      - WATCHPACK_POLLING=true
      - FAST_REFRESH=true
      - WDS_SOCKET_PORT=0
    depends_on:
      - backend

volumes:
  postgres_data:
